<div class="from-send-csv" attr.data-uploading={{state}}>
  <form (submit)="$event.preventDefault()">
    <div class="input-file-wrapper">
      <label for="fileInput">
          @switch (state) {
            @case ('select') {
              Seleccionar Fichero
            }
            @case ('upload') {
              Subiendo Fichero
            }
            @case ('error') {
              Error
            }
          }
        <input
        class="input-file"
        (input)="onSubmit($event)"
        accept=".csv"
        id="fileInput"
        type="file"
        >
      </label>
    </div>
  </form>
</div>
